<h1>Welcome to Meadowlark Travel!!</h1>

<p>Questions? Checkout out our
    <a href="/about" data-test-id="about">About Us</a>
    page !
</p>

<p>Also please enter our vacation Photo Contest using either:</p>
<ul>
    <li><a href="/contest/vacation-photo">Old-school form submission</a>.</li>
    <li><a href="/contest/vacation-photo-ajax">Async form submission (remommended)</a>.</li>
</ul>

<h2>Home</h2>

<p><a href="/cart">shopping cart example</a></p>

{{>weather}}